logging:
  level: 20

mqtt:
  host: "localhost"
  port: 1883
  topics:
    data_request_topic: "MQTTAnimator/data_request"
    return_data_request_topic: "MQTTAnimator/rdata_request"
    state_topic: "MQTTAnimator/state"
    return_state_topic: "MQTTAnimator/rstate"
    brightness_topic: "MQTTAnimator/brightness"
    return_brightness_topic: "MQTTAnimator/rbrightness"
    return_anim_topic: "MQTTAnimator/ranimation"
    args_topic: "MQTTAnimator/args"
    full_args_topic: "MQTTAnimator/fargs"
    animation_topic: "MQTTAnimator/animation"
  reconnection:
    first_reconnect_delay: 1
    reconnect_rate: 2
    max_reconnect_count: 12
    max_reconnect_delay: 60

driver:
  virtual: false
  num_pixels: 200
  pin: "D18"
  order: "RGB"