logging:
  level: 20

mqtt:
  host: "localhost"
  port: 1883
  topics:
    state_topic: "MQTTAnimator/state"
    brightness_topic: "MQTTAnimator/brightness"
    args_topic: "MQTTAnimator/args"
    animation_topic: "MQTTAnimator/animation"
  reconnection:
    first_reconnect_delay: 1
    reconnect_rate: 2
    max_reconnect_count: 12
    max_reconnect_delay: 60

driver:
  num_pixels: 50
  pin: "D18"
  order: "RGB"